.main-col{
    background-color: #191d1f;
    text-align: center;
}
.key-row{
    margin-left: 41%;
    margin-top: 3%;
}
.head-row{
    justify-content: center;
    margin-bottom: 4%;
    margin-top: 2%;
}
.login-head{
    color: white;
}
.inputs{
    height: 40px;
    background-color: #1a2226;
    border: none;
    width: 80%;
}
.input-row{
    justify-content: center;
}



/* .background {
    background-image: url("../../../uploads/gbimage.jpg");
 } */
/* .body{
    background: url("/uploads/bgimage.jpg");
    background-size:contain;
    background-position:top;
    background: cover;
} */